<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/Header.css" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top cHeader">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle cButton" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <a  href="/Home/Index">
                <div class="image w-50 mx-auto"></div>
                   </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)                
                    {
                    <li>@Html.ActionLink("Skapa Media", "Create", "TextPieces")</li>
                    <li>@Html.ActionLink("Ge Betyg", "Create", "MediaRatings")</li>
                    }
                    <li>@Html.ActionLink("Topplista", "Overview", "Home")</li>
                    <li>@Html.ActionLink("Användartoppen", "userlist", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p> @DateTime.Now.Year - TWG </p>
            <a href="https://www.facebook.com/pages/category/Writer/The-Writing-Guild-102897024446780/">Facebook</a>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
